.promotions {
    .body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h1 {
            text-align: center;
        }
        .item {
            display: flex;
            border: 1px solid gray;
            gap: 1rem;
            border-radius: .5rem;
            padding: .5rem;
            .content {
                h3{
                    text-transform: uppercase;
                    margin: 2rem 0;
                }
                .country {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }
}