<section class="contacts">
  <div class="container">
    <div class="body">
      <div class="items">
        <a class="item" href="tel:+1111111111">Phone: +1111111111</a>
        <a class="item" href="mailto:support@test-task-starovoitova.netlify.app"
          >Mail: support@test-task-starovoitova.netlify.app</a
        >
        <a
          class="item"
          href="https://www.google.by/maps/dir//Vierchni+Horad,+Minsk/@53.9036822,27.5500149,16z/data=!4m18!1m8!3m7!1s0x46dbcfeaf8a99be7:0xca116e43268b0bb4!2sVierchni+Horad,+Minsk!3b1!8m2!3d53.9029742!4d27.5549986!16s%2Fg%2F120_rxf2!4m8!1m0!1m5!1m1!1s0x46dbcfeaf8a99be7:0xca116e43268b0bb4!2m2!1d27.5549986!2d53.9029742!3e3?entry=ttu"
          >Map</a
        >
      </div>
    </div>
  </div>
</section>

<app-form></app-form>
