body {
    margin: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}